html {
  /* direction: rtl; */
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 768px) and( max-width:1440px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }
}

.swalStyle {
  width: 60vw;
  padding: 10rem;
  font-size: 20px;
}
.swal-overlay {
  background-color: #f5f3f4;
}
.swal-modal {
  border: 3px solid #79a141;
  padding: 40px;
}

.swal-warning {
  border: 3px solid rgb(221, 70, 70);
}
